/.ipynb_checkpoints
/.PAX_Analyzer2.2.2.ipynb.layout
/build
/dist
/MVC_Breakdown
/MVC_HelloWorldTest
/PAX Analyzer 2_Old Editions
/paxAnalyzer.py
/PaxAnalyzerTest11_18.spec
/PaxAnalyzerTest_Recent2024.py
/PaxAnalyzerTest_Recent2024.spec
/PAXAnalyzer_3.1.0_FreshChanges.ipynb
/PAXAnalyzer_3_functionLayout.ipynb
/PAX_Analyzer2.2.4_TEST.ipynb
/PlottingTestground.ipynb
/PlottingTestground_Minimal.ipynb
/StackOverflowQuestion.ipynb
/TestingCollabsible.ipynb
/WorkFolder_PAXVisualizing_VSC.code-workspace
MVC_CopilotHelp/PAX_Data_Visualizer.spec
MVC_CopilotHelp/__pycache__/gui.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
MVC_CopilotHelp/__pycache__/gui.cpython-312.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/Analysis-00.toc
MVC_CopilotHelp/build/PAX_Data_Visualizer/base_library.zip
MVC_CopilotHelp/__pycache__/gui.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/EXE-00.toc
MVC_CopilotHelp/build/PAX_Data_Visualizer/PAX_Data_Visualizer.pkg
MVC_CopilotHelp/build/PAX_Data_Visualizer/PKG-00.toc
MVC_CopilotHelp/build/PAX_Data_Visualizer/PYZ-00.pyz
MVC_CopilotHelp/build/PAX_Data_Visualizer/PYZ-00.toc
MVC_CopilotHelp/build/PAX_Data_Visualizer/warn-PAX_Data_Visualizer.txt
MVC_CopilotHelp/build/PAX_Data_Visualizer/xref-PAX_Data_Visualizer.html
MVC_CopilotHelp/build/PAX_Data_Visualizer/localpycs/pyimod01_archive.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/localpycs/pyimod02_importers.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/localpycs/pyimod03_ctypes.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/localpycs/pyimod04_pywin32.pyc
MVC_CopilotHelp/__pycache__/gui.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
MVC_CopilotHelp/build/PAX_Data_Visualizer/localpycs/struct.pyc
MVC_CopilotHelp/__pycache__/gui.cpython-312.pyc
MVC_CopilotHelp/__pycache__/modern_calibration_window.cpython-312.pyc
