/.ipynb_checkpoints
/.PAX_Analyzer2.2.2.ipynb.layout
/build
/dist
/MVC_Breakdown
/MVC_HelloWorldTest
/PAX Analyzer 2_Old Editions
/paxAnalyzer.py
/PaxAnalyzerTest11_18.spec
/PaxAnalyzerTest_Recent2024.py
/PaxAnalyzerTest_Recent2024.spec
/PAXAnalyzer_3.1.0_FreshChanges.ipynb
/PAXAnalyzer_3_functionLayout.ipynb
/PAX_Analyzer2.2.4_TEST.ipynb
/PlottingTestground.ipynb
/PlottingTestground_Minimal.ipynb
/StackOverflowQuestion.ipynb
/TestingCollabsible.ipynb
/WorkFolder_PAXVisualizing_VSC.code-workspace